html{
    scroll-behavior: smooth;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgb(231, 231, 231);
    margin: 0;
    display: grid;
    grid-template-columns: 220px 1fr;
    grid-template-rows: 70px 1fr;
    grid-template-areas:
        "header header"
        "nav main";
    min-height: 100vh;
}

/* HEADER */

header{
    grid-area: header;
    color:white;
    display: flex;
    justify-content: space-between;
    background-color: #000080;
    padding-left: 2vh;
    align-items: center;
    height: 70px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.15), 0 10px 20px rgba(0, 0, 0, 0.15);
}

header h1{
    margin: 0;
}

.nav-button{
    font-size: 2.8vh;
    font-weight: 500;
    border: none;
    padding: 0 2vh;
    background-color: #000080;
    color: white;
    height: 100%;
    transition: all 0.3s ease;
}

.nav-button:hover{
    background-color: #0000c9;
}

/* NAV */

nav {
    grid-area: nav;
    background-color: #3b3b3b;
    height: 100%;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav li a {
    display: block;
    padding: 15px 20px;
    color: white;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

nav li a:hover {
    background-color: #2a2a2a;
}

/* MAIN */

main{
    grid-area: main;
    padding: 40px;
    overflow-y: auto;

    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: center;
}

/* CARD-ABOUT */

.card-about{
    background-color: white;
    margin: 0 auto;
    width: 70%;
    height: min-content;
    border-radius: 30px;
    display: flex;
    align-items: center;
    gap: 3%;
    box-shadow: 0 0 10px rgba(0,0,0,0.15), 0 0 20px rgba(0, 0, 0, 0.15);
    transition: transform 0.3s ease;
}

.card-about:hover{
    transform: scale(1.05);
}

.card-about__text{
    display: flex;
    flex-direction: column;
    font-size: 20px;
}

#img-principal{
    width: 300px;
    border-radius: 30px 0 0 30px;
}

.card-about__title span{
    font-size: 5vh;
    font-weight: bold;
    color: #000080;
}

.card-about__title{
    font-size: 3vh;
}