body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgb(231, 231, 231);
    margin: 0;
}

main {
    padding: 2vh;
}

.container{
    width: 100%;
    display: flex;
    justify-content: center;
}

/* HEADER */

header{
    color:white;
    display: flex;
    justify-content: space-between;
    background-color: #000080;
    padding-left: 2vh;
    align-items: center;
    height: 6.5vh;
    box-shadow: 0 5px 10px rgba(0,0,0,0.15), 0 10px 20px rgba(0, 0, 0, 0.15);
}

header h1{
    margin: 0;
}

.nav-button{
    font-size: 2.8vh;
    font-weight: 500;
    border: none;
    padding: 0 2vh;
    background-color: #000080;
    color: white;
    height: 100%;
    transition: all 0.3s ease;
}

.nav-button:hover{
    background-color: #0000c9;
}


/* MAIN-FEED */

.main-feed{
    display: flex;
    justify-content: flex-end;
    padding: 2vh;
}

/* CARD-ABOUT */

.card-about{
    background-color: white;
    width: 60%;
    height: min-content;
    border-radius: 30px;
    display: flex;
    align-items: center;
    gap: 3%;
    box-shadow: 0 0 10px rgba(0,0,0,0.15), 0 0 20px rgba(0, 0, 0, 0.15);
    transition: transform 0.3s ease;
}

.card-about:hover{
    transform: scale(1.05);
}

.card-about__text{
    display: flex;
    flex-direction: column;
    font-size: 20px;
}

#img-principal{
    width: 300px;
    border-radius: 30px 0 0 30px;
}

.card-about__title span{
    font-size: 5vh;
    font-weight: bold;
    color: #000080;
}

.card-about__title{
    font-size: 3vh;
}