body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgb(231, 231, 231);
    margin: 0;
}

main {
    padding: 2vh;
}

.container{
    width: 100%;
    display: flex;
    justify-content: center;
}

/* HEADER */

header{
    color:white;
    display: flex;
    padding-left: 2vh;
    justify-content: space-between;
    background-color: #000080;
}

.nav-button{
    font-size: 2.8vh;
    font-weight: 500;
    border: none;
    padding: 0px 2vh;
    background-color: #000080;
    color: white
}

/* CARD-ABOUT */

#card-about{
    background-color: white;
    width: 60%;
    height: min-content;
    border-radius: 30px;
    display: flex;
    align-items: center;
    gap: 3%;
    box-shadow: 0 0 10px rgba(0,0,0,0.15), 0 0 20px rgba(0, 0, 0, 0.15);
}

#card-about-text{
    display: flex;
    flex-direction: column;
    font-size: 20px;
}

#img-principal{
    width: 300px;
    border-radius: 30px 0 0 30px;
}

#card-about-title span{
    font-size: 5vh;
    font-weight: bold;
    color: #000080;
}

#card-about-title{
    font-size: 3vh;
}